Folders named Foo and foo
Folders named Bar and bar
Folders named Goo
Folders named Goop
Files with the extension .food
Files with the extension .soda
Files with the extension .try
Files with the extension .hello
Files with the extension .coins
Files with the extension .letter within a folder named One
